<center><h3>Press the button to generate a new quote:</h3>


<button id="button" onclick="myFunction()">Quote</button>

<div id="fq"></div>
<script>
function myFunction()
{
$( "#fq" ).load( "/quotes/randq" );
}
</script>
</center>
