<center>


<p>The "Famous Quotes" app has been created for those who want to read behind the lines, for those who like to devote a little of their time to understand the principles people often invoke from proverbs or quotes from persons of great significance. We sometimes need a little time for ourselves to meditate on various ideals, and a few words of wisdom can go a long way helping out with such topics. Enjoy yourself by reading through the collection of quotes in the database and help other people out by adding and sharing these words of wisdom with others.</p>

<button id="button" onclick="myFunction()">Random Quote</button>

<div id="fq"></div>
<script>
function myFunction()
{
$( "#fq" ).load( "/quotes/randq" );
}
</script>
</center>
