

<form id=myform action ="quotes/search" method="post">
<input name = "key" type="input" />
<input value="Search Author" type="submit"/>
</form> 



<h3>
<% ('A'...'Z').each do |letter| -%>
<%= link_to letter, quotes_path(:starts_with => letter) %>
<% end -%>

<%= link_to 'All Quotes', quotes_path %>
</h3>

<div id="allquotes">
<table class="tab">
  <tr>
   
    <th>Author</th>
    <th>Quote</th>


  </tr>

<% @quotes.each do |quote| %>
  <tr>
  
    <td><%= link_to quote.author, quote %></td>
    <td><%= quote.quote %></td>

    
  </tr>
<% end %>
</table>
</div>

<br />






